body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .card {
    max-width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    text-align: center;
    padding: 20px;
  }
  
  .card-header img {
    max-width: 100px;
    border-radius: 50%;
  }
  
  .card-body {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  strong {
    font-weight: bold;
  }
  